<form asp-action="MakeOrder" method="post">
    <label>First</label>
    <input name="first"/>
    <br />
    <label>Second</label>
    <input name="second"/>
    <br />
    <label>Count</label>
    <input name="count"/>
    <br />
    <button type="Submit">Відправити</button>
</form>
