@{
    ViewData["Title"] = "Home Page";
}

<body>
    <ul>
        <li><a asp-controller="Calendar" , asp-action="ReturnDays">Показати дні тижня</a></li>
        <li><a asp-controller="Calendar", asp-action="ReturnMonthes">Показати місяці</a></li>
    </ul>
</body>
