@using ConfigurationsHomeWork1.ConfogurationModel
@model ConnectionModel;

<p>Рядок підключення: @Model.ConnectionString </p>
<p>Login: @Model.Login</p>
<p>Internet: @Model.Internet</p>
<p>Server: @Model.Servers </p>
