@model Client


<!DOCTYPE html>

<html>
<head>
    <title>Реєстрація</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="card-body">


    <form asp-action="Register" method="post">
    <div>
            @* байндінг працює і без атрибута asp-for в полі input*@
            <label>Name</label>
            
            @* для того, щоб відпрацьовувала валідація на стороні клієнта (js), поле input повинно мати атрибут asp-for *@
            @* без цієї умови валідація працює тільки на стороні сервера *@
            <input asp-for="Name" />

            <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="LastName" ></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <button type="submit">Зареєструватися</button>
</form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
